*{
    margin: 0;
    padding: 0;
}
#home_top{
    width: 100%;
    height: 70px;
    background-color: rgb(9,150,207);
}
#home_main{
    width: 100%;
    position: relative;
}
#home_lefts{
    width: 12%;
    height: 620px;
    float: left;
    /*border-top: 1px solid rgb(236,236,236);*/
}
#home_lefts div{
    /*background-color: rgb(5,160,193);*/
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid rgb(236,236,236);
}
.home_menu1{
    font-size: 18px;
    font-weight: 600;
}
.home_menu2 {
    /*color: #444;*/
    font-size: 16px;
}
#home_lefts div:hover{
    background-color: rgb(240,240,240);
}
#home_right{
    width: 87.9%;
    /*height: 700px;*/
    background-color: rgb(236,236,236);
    float: right;
}
#tledu{
    color: white;
    width: 500px;
    height: 100%;
    line-height: 70px;
    padding-left: 40px;
    float: left;
    font-size: 32px;
}
#user{
    width: 200px;
    height: 40px;
    float: right;
    margin-top: 15px;
}
#user_head{
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-image: url("../image/user-head.jpg");
    background-size: 100% 100%;
    float: left;
}
#user_name{
    width: 100px;
    height: 100%;
    line-height: 40px;
    margin-left: 10px;
    color: white;
    float: left;
}
#right_content{
    width: 96.5%;
    /*height: 500px;*/
    margin: auto;
    background-color: white;
    margin-top: 20px;
}
#content_bottom{
    width: 96.5%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}
#right_top{
    width: 99.9%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-left: 1px solid rgb(236,236,236);
}
#right_top>#right_index{
    display: inline-block;
    margin-left: 28px;
}
#content_bottom>div{
    width: 100%;
    /*height: 60px;*/
    /*line-height: 60px;*/
    text-align: center;
    font-size: 14px;
    color: #666;
}
#content_bottom>div:first-child{
    margin-top: 50px;
}